# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/build/
app/bin/
app/Drivers/
app/.classpath
app/.project
app/.settings
.project
.settings
.classpath

.DS_Store
